@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    color: white;
    background:white;
    
    
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding:20px 10% ;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
 
.logo{
    font-size: 25px;
    color: white;
    text-decoration: none;
    font-weight: 600;
}

.home{
    height: 100vh;
    background: url("0backround.jpg") no-repeat;
    background-size: cover;
    background-position: center;
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 0 10%;
}

.home-content{
    max-width: 600px;

}
.home-content h1{
    color: white;
    font-size: 80px;
    font-weight: 700;
    line-height: 0.9;
}

.home-content h3{
    font-size: 50px;
    font-weight: 700;
    color: #00abf0;

}

.home-content p{
    color: white;
    font-size: 25px;
    margin: 20px 0 40px;
    
}
.home .Login{
position: relative;
width: 440px;

}
.Login h2{
    font-size: 2em;
    color: #fff;
    text-align: center;
}

.Login .input-box{
    position: relative;
    width: 100%;
    height: 50px;
    margin: 40px 0;

}

.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: 1px solid #fff;
    outline: none;
    border-radius: 40px;
    font-size: 1em;
    color: #fff;
    padding: 0 25px 0 45px;

}
.input-box label{
    position: relative;
    left: 45px;
    transform: translateY(-50%);
    font-size: 1em;
    color: #fff;
    pointer-events: none;
    transition: .5s;

}



.Login .forgot{
font-size: .9em;
color: #fff;
max-width: -25px 0 15px;
display: flex;
justify-content: space-between;
}
.forgot label input{
    accent-color: #1e0b04;
    margin-right: 3px;

}

.forgot a{
    color: #fff;
    text-decoration: none;

}
.forgot a:hover{
    text-decoration: underline;
}
a:link, a:visited{
    color: #fff;
    text-decoration: none;
}

.Login .btn{
    width: 100%;
    height: 50px;
    border: none;
    outline: none;
    border-radius: 40px;
    background: linear-gradient(90deg,#fff,#00abf0);
    box-shadow: 0 8px 10px rgba(0, 0, 0, 5);
    cursor: pointer;
    font-size: 1em;
    color: #fff;
    font-weight: 500;

}
.Login .register-link{
    font-size: .9em;
    color: #fff;
    text-align: center;
    margin: 30px 0;

}
.register-link p a{
    color: #fff;
    text-decoration: none;
    font-weight: 600;

}

.register-link p a:hover{
    text-decoration: underline;
}


