@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: Poppins, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: url("/images/landing-page/0backround.jpg");
    height: 100vh;
    background-attachment: fixed;
    background-position: center;
}

main {
    margin-top: 13rem;
    color: whitesmoke;
}

.sec1 {
    color: white;
    margin-bottom: 15rem;
}

.sec1 h3 {
    color: #00abf0;
    font-weight: 700;
}

.sec1 h1,
h3 {
    font-size: 5rem;
}

.sec2 {
    margin-bottom: 14rem;
}


.sec3 h2 {
    font-size: 4rem;
}

.sec3 p {
    font-size: 1.5rem;
}

.sec3 h2 span {
    color: #00abf0;
}

.sec3 img {
    margin-top: 8rem;
}